.footer {
  font-family: inherit;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  background-color: hsl(0, 0%, 20%);
  color: white;
}
